### Hugo ##
.hugo_build.lock
public/
resources/_gen

### PHP with secrets ###
wp-config.php

### IntelliJ IDEA ###
.idea/
/.bsp/sbt.json
*.iml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/


### workflow ###
TODO