
.mybody {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.blog-header, .blog-post, .blog-pagination {
  margin-bottom: 2rem;
  padding-left: 0px;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}

.blog-footer {
  font-size: 0.75em;
  font-weight: bold;

}

/* START TDE SHORTTERM CALENDAR */
div.bourgoyen, td.bourgoyen {
  background-color: #FF0000;
}
div.wielerpiste, td.wielerpiste {
  background-color: #99FF33;
}
div.topsporthal, td.topsporthal {
  background-color: #016fb7;
}

table.shorttermcalenderindex td {
  padding: 0;
  border-top: hidden;
}
/* END TDE SHORTTERM CALENDAR */


.carousel-caption-gentsebc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: rgba(0,0,0,0.75);
  text-align: left;
}