{{ $data := newScratch }}

{{ $data.Set "album-title" (.Get "title")}}

{{ $data.Set "album-id" (.Get "id")}}

{{ if isset .Params "front-img"}}
{{ $data.Set "is-album-front-img-set" true }}
{{ else }}
{{ $data.Set "is-album-front-img-set" false }}
{{ end}}

{{ $data.Set "album_front_img" (.Page.Resources.GetMatch (.Get "front-img")) }}


{{ with .Page.Resources.Match (.Get "match-dir") }}
    {{ $album_front_img := cond ($data.Get "is-album-front-img-set") ($data.Get "album_front_img") ( index ( first 1 .) 0 ) }}
    <a href="" data-ngkind="album" data-ngid="{{ $data.Get "album-id"}}" data-ngthumb="{{ ($album_front_img.Resize "200x").RelPermalink }}">{{ $data.Get "album-title"}}</a>

    {{ range $index, $element := . }}

    <a href="{{ ( $element.Resize "1200x" ).RelPermalink }}" data-ngid="{{ $data.Get "album-id"}}-{{ $index }}" data-ngalbumid="{{ $data.Get "album-id"}}" data-ngthumb="{{ ( $element.Resize "200x" ).RelPermalink }}"></a>

	{{ end }}
{{ end }}
