{{ $carouselArticels := (where .Site.Pages "Params.carousel" true).ByDate.Reverse | first 10 }}

{{ if gt (len $carouselArticels) 0 }}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {{ range $index, $carouselArticels := (where .Site.Pages "Params.carousel" true).ByDate.Reverse | first 10 }}
        <div class="carousel-item {{ if (eq $index 0) }}active{{ end }}">
            
            <img src="{{cond (isset .Params "carousel_img") .Params.carousel_img "/images/posts/default.jpeg" }}" class="d-block w-100" alt="..." width="970" height="400">
            <div class="carousel-caption carousel-caption-gentsebc d-none d-md-block">

                <h5>
                    {{ .Title | markdownify }} 
                </h5>
                <p>
                    {{ .Plain | truncate 80}} <a href="{{ .RelPermalink }}" rel="bookmark" title="{{ .Title | markdownify }}" class="btn btn-primary">Lees meer <i class="fas fa-angle-right"></i></a>
                </p>
            </div>
          </div>
        {{ end}}       
    </div>
    {{ if gt (len $carouselArticels) 1 }}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    {{ end }}
  </div>
  {{ end }}