{{ $colorScheme := default "light" .Site.Params.header.colorScheme }}
{{ $sp := cond .Site.IsServer  "" .Site.Params.static_content_prefix }}

<header class="blog-header">
    <div class="span12" style="background-color:#101e5b;">
        <a class="brand" id="logo" title="" href="/">

            <img src="{{$sp}}/images/banner_links.jpg" alt="">
        </a>
    </div>
    <nav class="navbar navbar-expand-md navbar-{{ $colorScheme }} bg-{{ $colorScheme }}">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
                <span class="fas fa-home"></span>
            </a>

            <a class="navbar-brand" href="{{ "volwassenen/speeluren/" | relLangURL }}">
                <span class="fas fa-clock"></span>
            </a>

            <a class="navbar-brand" href="{{ "clubinfo/twizzit//" | relLangURL }}">
            <img src="{{$sp}}/images/twizzit-favicon.ico" alt="" width="20">
            </a>

            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav">

                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        {{ if .HasChildren }}
                            <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {{ range .Children }}
                                        <li><a class="dropdown-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                </ul>
                            </li>

                        {{ else }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .URL }}"> 
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span></a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</header>
