{{ $sp := cond .Site.IsServer  "" .Site.Params.static_content_prefix }}
<div class="d-none d-md-block">
    <div class="span12">
        <table class="table">
            <thead>
            <tr id="playingHoursHorizontal">
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr id="playingHoursHorizontalJeugd">
                <td>Jeugd</td>
            </tr>
            <tr id="playingHoursHorizontalVolwassenen">
                <td>Volwassenen</td>
            </tr>
            <tr id="playingHoursHorizontalGSport">
                <td><a href="/g-badminton">G-Sport <i class="fa fa-wheelchair-alt"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
<script type='text/javascript' src='{{$sp}}/js/shortTermCalendar.js'></script>
<script>
    jQuery(document).ready(function() {
        console.log("Adding short term calendar");
        addShortTermCalendar(jQuery,'/');
    });
</script>
<div class="d-none d-md-block">
    <div class="col-md-3 offset-md-9">
        <table class="shorttermcalenderindex">
            <tbody>
            <tr>
                <td class="wielerpiste">&nbsp;&nbsp;&nbsp;</td>
                <td>Wielerpiste</td>
                <td class="bourgoyen">&nbsp;&nbsp;&nbsp;</td>
                <td>Bourgoyen</td>
                <td class="topsporthal">&nbsp;&nbsp;&nbsp;</td>
                <td>Topsporthal</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Display on small screen devices -->
<div class="container">
    <div class="row">
        <div class="col-md-4 d-md-none table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Jeugd</th>
                    <th>Volwassenen</th>
                    <th><a href="/g-badminton">G-Sport <i class="fa fa-wheelchair-alt"></i></a></th>
                </tr>
                </thead>
                <tbody id="playingHoursVertical">

                </tbody>
            </table>
            <table>
                <tbody>
                <tr>
                    <td class="wielerpiste">&nbsp;&nbsp;&nbsp;</td>
                    <td>Wielerpiste</td>
                    <td class="bourgoyen">&nbsp;&nbsp;&nbsp;</td>
                    <td>Bourgoyen</td>
                    <td class="topsporthal">&nbsp;&nbsp;&nbsp;</td>
                    <td>Topsporthal</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>