  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body" >
            {{ .Inner }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
        </div>
      </div>
    </div>
  </div>


  <p>Powered by <img src="/images/bwf.jpeg" title="Badminton World Federation" width="30px"> and <img src="/images/youtube.png" title="YouTube"></p>

  <script>
    var myModalEl = document.getElementById('exampleModal')
    myModalEl.addEventListener('hidden.bs.modal', function (event) {
     var el = document.querySelector("#exampleModal div.modal-dialog div.modal-content div.modal-body div iframe");
     el.src='';       
    });

    myModalEl.addEventListener('show.bs.modal', function (event) {
     var el = document.querySelector("#exampleModal div.modal-dialog div.modal-content div.modal-body div iframe");
     var youtubeid = event.relatedTarget.getAttribute('youtubeid');
     if (youtubeid.includes('www.youtube.com/watch?v=')) {
      youtubeid = youtubeid.substring(youtubeid.indexOf('=')+1);
      //console.log("Resolved youtubeid from URL:"+youtubeid);
     }
     el.src='https://www.youtube.com/embed/'+youtubeid;
    });

  </script>